name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install locust

      - name: Run unit tests
        run: |
          pytest -v

      - name: Run load test
        run: |
          locust -f locustfile.py --host=http://127.0.0.1:8000 --headless -u 10 -r 5 -t 30s
